@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	background: lightblue;
	width: 1400px;
}

header {
	margin: 0 auto;
	background: url('https://images.pexels.com/photos/1576419/pexels-photo-1576419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') 0/cover no-repeat;
	height: 300px;
	text-align: center;
	padding-top: 90px;
	color: white;
	font-size: 30px;
	margin-bottom: 30px;
}

header h1 {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 100px;
	background: darkblue;
	text-align: center;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu {
	width: 650px;
	height: 70px;
	margin: 0 auto;
	padding-top: 10px;
}

.menu li {
	display: inline-block;
	position: relative;
	border: 1px solid white;
	padding: 20px;
	background: black;
	width: 110px;
}

.dropdown {
	position: absolute;
	top: 59px;
	left: 0px;
	margin: 0;
	padding: 0;
	display: none;
}

.dropdown li {
	width: 100%;
	background: black;
}

nav li:hover .dropdown {
	display: block;
}

a {
	text-decoration: none;
	color: white;
}

main {
	margin: 0 auto;
	width: 90%;
	background: white;
	padding: 20px;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 25px;
}

table th, td {
	border: 1px solid red;
	padding: 5px;
}

th {
	background: gray;
}

td {
	background: yellow;
}

th, td {
	padding: 10px;
}

table tbody > tr:not(:nth-child(1)) {
	background: red;
}

main h1 {
	text-align: left;
	margin: 0;
	margin-bottom: 30px;
}

form input {
	display: block;
	margin-top: 20px;
	width: 50%;
	height: 40px;
	border: 1px solid red;
}

form textarea {
	margin-top: 20px;
	display: block;
	width: 80%;
	height: 100px;
	border: 1px solid blue;
}

input:focus {
	border: 2px dotted green;
	outline: none;
}

textarea:focus {
	border: 2px dotted yellow;
	outline: none;
}

.quote {
	padding: 10px;
	background: gray;
	margin: auto;
	border-radius: 10px;
	position: relative;
	z-index: 2;
}

.quote:before {
	z-index: 1;
	content: ' ';
	width: 40px;
	height: 40px;
	top: -20px;
	left: 40px;
	transform: rotate(45deg);
	background: gray;
	position: absolute;
}

.exercise ul {
	list-style: none;
}

li:first-child:before {
	content: 'important'
	color: red;
	text-transform: uppercase;
	background: yellow;
}

li:first-child:after {
	content: 'done';
	background: green;
	color: pink;
}