* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.jumbotron {
	height: 400px;
	background: url('https://images.pexels.com/photos/1427513/pexels-photo-1427513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') 0/cover no-repeat;
}

.container h2 {
	margin-top: 50px;
}

.panel {
	width: 80%;
	margin: 0 auto;
}